.admin .projects .view {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 1s linear;
        z-index: 3;
}

.admin .projects .view.active {
        display: grid;
        place-content: center;
        opacity: 1;
        background: rgba(11, 13, 14, 0.5); /* translucent background */
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px); /* for Safari */
}

.admin .projects .view.active .wrapper {
        place-self: center;
        display: grid;
        background-color: #171717;
        border: 1px solid #262626;
        border-radius: 2vh;
        box-shadow: 0 0 5rem #000;
        width: 65%;
        height: 80vh;
        padding: 4vh 6vh;
        padding-right: 1vh;
}

.admin .projects .view.active .wrapper .container {
        display: grid;
        gap: 4vh;
        overflow: auto;
        padding-right: 5vh;
}

/* Scrollbar track */
.admin .projects .view.active .wrapper .container::-webkit-scrollbar {
        width: 9px; /* Vertical scrollbar width */
        /* height: 12px; Horizontal scrollbar height */
}

/* Scrollbar track background */
.admin .projects .view.active .wrapper .container::-webkit-scrollbar-track {
        background: transparent;
}

/* Scrollbar thumb (the draggable part) */
.admin .projects .view.active .wrapper .container::-webkit-scrollbar-thumb {
        width: 10px;
        background: #131313;
        border-radius: 6px;
}

/* Hover effect */
.admin .projects .view.active .wrapper .container::-webkit-scrollbar-thumb:hover {
        background: #0b0d0e;
}

.admin .projects .view.active .wrapper .container .title {
        font-size: 1.125rem;
        font-weight: 600;
        color: #ededed;
}

.admin .projects .view.active .wrapper .container .image {
        display: grid;
        place-content: center;
        background-color: #0b0d0e;
        border-radius: 2vh;
        width: 100%;
        aspect-ratio: 16 / 9;
        height:max-content;
        overflow: hidden;
        position: relative;
}

.admin .projects .view.active .wrapper .container .image img {
        width: 100%;
        height: 100%;
}

.admin .projects .view.active .wrapper .container .image .contribution {
        display: grid;
        place-content: center;
        font-size: 0.875rem;
        font-weight: 600;
        color: #ededed;
        background-color: #202020;
        border-radius: 2vh;
        padding: 0.5vh 3vh;
        position: absolute;
        left: 2vh;
        bottom: 2vh;
}

.admin .projects .view.active .wrapper .container .domains {
        display: flex;
        gap: 2vh;
}

.admin .projects .view.active .wrapper .container .domains p {
        display: grid;
        place-content: center;
        font-size: 0.75rem;
        color: #ededed;
        background-color: #0b0d0e;
        border-radius: 10vh;
        padding: 0.75vh 3vh;
}

.admin .projects .view.active .wrapper .container .description {
        display: grid;
        font-size: 0.875rem;
        color: #888888;
}

.admin .projects .view.active .wrapper .container .features {
        display: grid;
        gap: 2vh;
}

.admin .projects .view.active .wrapper .container .features p {
        display: flex;
        align-items: center;
        gap: 2vh;
        font-size: 0.875rem;
        color: #888888;
}

.admin .projects .view.active .wrapper .container .features p img {
        width: 2vh;
}

.admin .projects .view.active .wrapper .container .tech-stack {
        display: flex;
        flex-wrap: wrap;
        gap: 2vh;
}

.admin .projects .view.active .wrapper .container .tech-stack .tech {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1vh;
        font-size: 0.75rem;
        color: #ededed;
        background-color: #0b0d0e;
        border-radius: 10vh;
        padding: 0.75vh 3vh;
}

.admin .projects .view.active .wrapper .container .tech-stack .tech .icon {
        display: grid;
        place-content: center;
}

.admin .projects .view.active .wrapper .container .tech-stack .tech .name {
        display: flex;
        flex-wrap: nowrap;
}

.admin .projects .view.active .wrapper .container .tech-stack .tech .icon img {
        width: 2.5vh;
}

.admin .projects .view.active .wrapper .container .links {
        display: flex;
        gap: 2vh;
}

.admin .projects .view.active .wrapper .container .links button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1vh;
        font-size: 0.875rem;
        font-weight: 600;
        color: #0b0d0e;
        background-color: #ededed;
        border: none;
        border-radius: 10vh;
        padding: 0.75vh 3.5vh;
        cursor: pointer;
        transition: background-color 0.25s ease-out;
}

.admin .projects .view.active .wrapper .container .links button:focus, 
.admin .projects .view.active .wrapper .container .links button:hover {
        background-color: #c6ff00;
}

.admin .projects .view.active .wrapper .container .links button img {
        width: 2vh;
}

.admin .projects .view.active .wrapper .container .links .github-link img {
        width: 2.5vh;
}