.admin .articles .main-section {
        display: grid;
        gap: 2vh;
        padding: 0;
}

.admin .articles .main-section img {
        width: 2vh;
}

.admin .articles .main-section .labels {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
}

.admin .articles .main-section .labels p {
        display: flex;
        justify-content: center;
        font-size: 0.875rem;
        color: #888888;
}

.admin .articles .main-section .list {
        display: grid;
        gap: 2vh;
}

.admin .articles .main-section .article-layout {
        transition: background-color 0.15s linear;
}

.admin .articles .main-section .list .article-layout {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        border-radius: 2vh;
        padding-block: 2vh;
}

.admin .articles .main-section .list .article-layout p,
.admin .articles .main-section .list .article-layout div {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.875rem;
        color: #888888;
        text-align: center;
}

.admin .articles .main-section .list .article-layout:nth-child(odd) {
        background-color: #202020;
        border: 1px solid #333333;
}

.admin .articles .main-section .list .article-layout:focus, 
.admin .articles .main-section .list .article-layout:hover {
        background-color: rgba(32, 32, 32, 0.5);
}

.admin .articles .main-section .list .article-layout .actions {
        display: flex;
        justify-content: center;
        gap: 2vh;
}

.admin .articles .main-section .list .article-layout .actions p {
        display: grid;
        place-content: center;
        border-radius: 1vh;
        padding: 1vh;
        transition: background-color 0.15s linear;
        position: relative;
        cursor: pointer;
}

.admin .articles .main-section .article-layout .actions p:focus, 
.admin .articles .main-section .article-layout .actions p:hover {
        background-color: rgb(32, 32, 32);
}

.admin .articles .main-section .list .article-layout .actions p:focus .hover, 
.admin .articles .main-section .list .article-layout .actions p:hover .hover {
        opacity: 1;
}

.admin .articles .main-section .list .article-layout .actions p img {
        width: 3vh;
        transition: opacity 0.15s linear;
}

.admin .articles .main-section .list .article-layout .actions p .hover {
        place-self: center;
        position: absolute;
        opacity: 0;
}

.admin .articles .main-section .list .article-layout .shadow {
        display: none;
}

.admin .articles .main-section .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 4vh;
}

.admin .articles .main-section .grid .article-layout {
        display: grid;
        grid-template-columns: auto auto;
        gap: 2vh;
        font-size: 0.875rem;
        color: #888888;
        background-color: #202020;
        border: 1px solid #333333;
        border-radius: 2vh;
        padding: 4vh;
        overflow: hidden;
        position: relative;
}

.admin .articles .main-section .grid .article-layout p,
.admin .articles .main-section .grid .article-layout div {
        z-index: 1;
}

.admin .articles .main-section .grid .article-layout .title {
        grid-column: span 2;
        font-size: 1rem;
        color: #ededed;
}

.admin .articles .main-section .grid .article-layout .author {
        grid-column: span 2;
}

.admin .articles .main-section .grid .article-layout .author span {
        display: inline-block;
        font-size: 0.75rem;
        background-color: #0b0d0e;
        border-radius: 10vh;
        padding: 0.5vh 2vh;
}

.admin .articles .main-section .grid .article-layout .published-on {
        grid-column: span 2;
}

.admin .articles .main-section .grid .article-layout .last-updated {
        font-size: 0.75rem;
}

.admin .articles .main-section .grid .article-layout .date {
        font-size: 0.75rem;
}

.admin .articles .main-section .grid .article-layout:focus, 
.admin .articles .main-section .grid .article-layout:hover {
        background-color: rgba(32, 32, 32, 0.5);
}

.admin .articles .main-section .grid .article-layout .actions {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 0.25vh;
}

.admin .articles .main-section .grid .article-layout .actions p {
        display: grid;
        place-content: center;
        border-radius: 1vh;
        padding: 1vh;
        transition: background-color 0.15s linear;
        position: relative;
        cursor: pointer;
}

.admin .articles .main-section .grid .article-layout .actions p:focus, 
.admin .articles .main-section .grid .article-layout .actions p:hover {
        background-color: rgb(32, 32, 32);
}

.admin .articles .main-section .grid .article-layout .actions p:focus .hover, 
.admin .articles .main-section .grid .article-layout .actions p:hover .hover {
        opacity: 1;
}

.admin .articles .main-section .grid .article-layout .actions p img {
        width: 3vh;
        transition: opacity 0.15s linear;
}

.admin .articles .main-section .grid .article-layout .actions p .hover {
        place-self: center;
        position: absolute;
        opacity: 0;
}

.admin .articles .main-section .grid .article-layout .shadow {
        position: absolute;
        right: -7vh;
        top: -7vh;
        z-index: 0;
}

.admin .articles .main-section .grid .article-layout .shadow img {
        width: 28vh;
}