.articles-section {
        display: grid;
        gap: 4vh;
        margin-block: 17.5vh; 
        padding-inline: 10vh;
}

.articles-section .main-title {
        flex: 0 0 100%;
        display: grid;
        place-content: center;
}

.articles-section .main-title p {
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
        font-size: 1.5rem;
        font-weight: bolder;
        color: #888888;
}

.articles-section .articles-message {
        flex: 0 0 100%;
        display: grid;
        place-content: center;
}

.articles-section .articles-message p {
        display: inline-block;
        font-size: 2.25rem;
        font-weight: 700;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        background-image: linear-gradient(to right, #c6ff00, #ededed);
        padding: 0.25vh;
}

.articles-section .articles {
        display: grid;
        grid-template-columns: repeat(2, calc(50% - 2vh));
        align-items: center;
        gap: 4vh;
        width: 100%;
}

.articles-section .previewed-article {
        display: grid;
        gap: 4vh;
        /* background-color: #202020; */
        /* border: 1px solid #333333; */
        /* border-radius: 2vh; */
        /* box-shadow: 0 0 1rem #000; */
        height: fit-content;
        /* padding: 4vh; */
        position: relative;
}

.articles-section .previewed-article .main-content {
        display: flex;
        flex-direction: column;
        gap: 2vh;
}

.articles-section .previewed-article .main-content .title p {
        display: inline-block;
        font-size: 0.875rem;
        color: #c6ff00;
        background-color: rgba(200, 255, 0, 0.1);
        border-radius: 4vh;
        padding: 0.75vh 3vh;
}

.articles-section .previewed-article .main-content .intro {
        font-size: 1.25rem;
        font-weight: bold;
        color: #ededed;
}

.articles-section .previewed-article .main-content .tags {
        display: flex;
        gap: 2vh;
}

.articles-section .previewed-article .main-content .tags .tag {
        display: grid;
        place-content: center;
        font-size: 0.75rem;
        color: #ededed;
        background-color: rgba(237, 237, 237, 0.1);
        border-radius: 4vh;
        padding: 0.5vh 2vh;
}

.articles-section .previewed-article .main-content .description {
        font-size: 0.9375rem;
        color: #888888;
        margin-block: 2vh;
}

.articles-section .previewed-article .main-content .links {
        display: flex;
        gap: 2vh;
}

.articles-section .previewed-article .main-content .links a {
        font-size: 0.75rem;
        font-weight: 600;
        color: #0b0d0e;
        text-decoration: none;
        background-color: #ededed;
        border: none;
        border-radius: 6vh;
        padding: 0.5vh 3vh;
        outline: none;
        cursor: pointer;
        transition: background-color 0.15s linear;
}

.articles-section .previewed-article .main-content .links a:focus,
.articles-section .previewed-article .main-content .links a:hover {
        background-color: #c6ff00;
}

.articles-section .previewed-article .image {
        display: grid;
        place-content: center;
        background-color: rgba(32, 32, 32, 0.5);
        border-radius: 2vh;
        box-shadow: 0 0 1rem #000;
        width: 100%;
        height: fit-content;
        aspect-ratio: 16 / 9;
        position: relative;
} 

.articles-section .previewed-article .image img {
        border-radius: 2vh;
        width: 100%;
        height: 100%;
        object-fit: cover;
}

.articles-section .previewed-article .image .author {
        display: grid;
        place-content: center;
        font-size: 0.875rem;
        font-weight: 600;
        color: #ededed;
        background-color: rgba(237, 237, 237, 0.1);
        border-radius: 10vh;
        position: absolute;
        left: 2vh;
        bottom: 2vh;
        padding: 0.5vh 2vh;
}

.articles-section .more-articles {
        display: grid;
        place-content: center;
        gap: 2.5vh;
        padding-block: 2vh;
        padding-right: 2vh;
        overflow-y: auto;
        mask: linear-gradient(to bottom, transparent, black 2%, black 98%, transparent);
}

/* Scrollbar track */
.articles-section .more-articles::-webkit-scrollbar {
        width: 10px; /* Vertical scrollbar width */
        /* height: 12px; Horizontal scrollbar height */
}

/* Scrollbar track background */
.articles-section .more-articles::-webkit-scrollbar-track {
        background: transparent;
}

/* Scrollbar thumb (the draggable part) */
.articles-section .more-articles::-webkit-scrollbar-thumb {
        background: #202020;
        border-radius: 6px;
}

/* Hover effect */
.articles-section .more-articles::-webkit-scrollbar-thumb:hover {
        background: #333333;
}

.articles-section .more-articles .article-card {
        display: flex;
        align-items: center;
        gap: 2vh;
        background-color: #202020;
        border: 1px solid #333333;
        border-radius: 2vh;
        padding: 2vh;
        transition: background-color 0.15s linear;
        cursor: pointer;
        position: relative;
}

.articles-section .more-articles .article-card:hover {
        background-color: rgba(32, 32, 32, 0.75);
}

.articles-section .more-articles .article-card .image {
        flex: 0 0 8vh;
        display: grid;
        place-content: center;
        background-color: #0b0d0e;
        border-radius: 2vh;
        /* width: 8vh; */
        height: 100%;
        aspect-ratio: 16 / 9;
        position: relative;
}

.articles-section .more-articles .article-card .image img {
        border-radius: 2vh;
        width: 100%;
        height: 100%;
        object-fit: cover;
}

.articles-section .more-articles .article-card .content {
        display: flex;
        flex-direction: column;
        gap: 1vh;
        width: 100%;
}

.articles-section .more-articles .article-card .content .title {
        font-size: 0.875rem;
        font-weight: 600;
        color: #ededed;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
}

.articles-section .more-articles .article-card .content .intro {
        display: -webkit-box;
        font-size: 0.75rem;
        color: #888888;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;  
        overflow: hidden;
        text-overflow: ellipsis;
}

.articles-section .more-articles .article-card .content .tags {
        display: flex;
        gap: 1vh;
}

.articles-section .more-articles .article-card .content .tags .tag {
        display: grid;
        place-content: center;
        font-size: 0.625rem;
        color: #ededed;
        background-color: rgba(237, 237, 237, 0.1);
        border-radius: 4vh;
        padding: 0.5vh 2vh;
}

.articles-section .more-articles .article-card .content .author {
        display: grid;
        place-content: center;
        font-size: 0.75rem;
        font-weight: 600;
        color: #888888;
        position: absolute;
        right: 2vh;
        bottom: 2vh;
}