.admin .notify {
        display: grid;
        place-content: center;
        font-size: 0.875rem;
        font-weight: 600;
        color: #0b0d0e;
        border-radius: 2vh;
        position: fixed;
        top: -10vh;
        align-self: center;
        padding: 1.5vh 4vh;
        transition: transform 0.2s ease-in-out;
        z-index: 2;
}

.admin .notify.active {
        transform: translateY(15vh);
}