.admin {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 0;
        width: 100%;
        min-height: 100vh;
        max-height: 100vh;
        background-color: var(--admin-surface-main);
        overflow: hidden;
}

.admin .pages {
        background-color: var(--admin-bg-page);
        overflow-y: auto;
        height: 100vh;
}