.admin {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 0;
        width: 100%;
        min-height: 100vh;
        max-height: 100vh;
        background-color: #171717;
        overflow: hidden;
}

.admin .pages {
        background-color: #131313;
        overflow-y: auto;
        height: 100vh;
}