.testimonials .main-section {
        display: grid;
        gap: 5vh;
        margin: 17.5vh 0;
        padding-inline: 10vh;
}

.testimonials .main-section .testimonials {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 7.5vh;
}

.testimonials .main-section .testimonials .testimonial {
        display: grid;
        gap: 4vh;
        font-size: 0.875rem;
        color: var(--text);
        background-color: var(--surface);
        border: 1px solid var(--border);
        border-radius: 2vh;
        box-shadow: var(--shadow);
        padding: 10vh 4vh;
        position: relative;
}

.testimonials .main-section .testimonials .testimonial:focus .quote svg,
.testimonials .main-section .testimonials .testimonial:hover .quote svg {
        stroke: var(--accent);
}

.testimonials .main-section .testimonials .testimonial:focus .info .image ,
.testimonials .main-section .testimonials .testimonial:hover .info .image  {
        background-color: var(--accent);
}

.testimonials .main-section .testimonials .testimonial .quote {
        display: grid;
        place-content: center;
        position: absolute;
        top: 4vh;
        right: 4vh;
}

.testimonials .main-section .testimonials .testimonial .quote svg {
        stroke: var(--bg);
        width: 10vh;
        opacity: 75%;
        transition: stroke 0.25s linear;
}


.testimonials .main-section .testimonials .testimonial .info {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 2vh;
}

.testimonials .main-section .testimonials .testimonial .info .image {
        display: grid;
        place-content: center;
        background-color: var(--bg);
        border-radius: 50%;
        width: 10vh;
        height: 10vh;
        transition: background-color 0.25s linear;
}

.testimonials .main-section .testimonials .testimonial .info .details .position {
        font-size: 0.75rem;
        color: var(--text-muted);
}

.testimonials .main-section .testimonials .testimonial .testimony {
        color: var(--text-muted);
}