.admin .blogs {
        display: flex;
        flex-direction: column;
        gap: 3vh;
        width: 100%;
        height: 94vh;
        padding: 2vh 6vh;
        overflow-y: auto;
}

/* Scrollbar track */
.admin .blogs::-webkit-scrollbar {
        width: 10px; /* Vertical scrollbar width */
        /* height: 12px; Horizontal scrollbar height */
}

/* Scrollbar track background */
.admin .blogs::-webkit-scrollbar-track {
        background: transparent;
}

/* Scrollbar thumb (the draggable part) */
.admin .blogs::-webkit-scrollbar-thumb {
        background: #131313;
        border-radius: 6px;
}

/* Hover effect */
.admin .blogs::-webkit-scrollbar-thumb:hover {
        background: #333333;
}
